@charset "utf-8";
/* CSS Document */
*{margin: auto;}
.tong{
	width: 960px;
	height: 3000px;
}
.banner{
	width: 960px;
	height: 250px;
}
.logo{
	width: 140px;
	height: 50px;
	float: left;
	padding-left: 20px;
}
.menutren{
	background-color: #3399FF;
	width: 960px;
	height: 50px;
}
.menutren ul{
	padding-top: 20px;
	float: left;
}
.menutren ul li{
	display: inline;
	padding-right: 40px;
}
.menutren ul li a{
	text-decoration: none;
	color: white;
	font-family: arial;
	font-weight: bold;
}
.dangnhap{
	float: right;
	padding-top: 20px;
	padding-right: 20px;
}
.dangnhap a{
	text-decoration: none;
	color: white;
	font-family: arial;
	font-weight: bold;
}


.chat-header a{
    text-decoration:none;
    color: white;
}

.copyright{
    font-size:12px;
    text-align: center;
}

.copyright a {
    text-decoration:none;
    color: #343c41;
}

#chatbot-toggle-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 15px;
    border: none;
    background-color: #fff;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1001; /* Ensure the button is above the chatbot popup */
}

#chatbot-toggle-btn:hover {
    background-color: #1393E6;
}

.chatbot-popup {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 350px;
    max-width: 90%;
    z-index: 1000;
}

.chat-header {
    background-color: #1393E6;
    color: #fff;
    padding: 15px 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
	padding-left: 220px;
}

.chat-box {
    max-height: 450px;
    overflow-y: auto;
    padding: 15px 20px;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
}

#user-input {
    font-family:"Times New Roman";
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 12px;
    outline: none;
}

#send-btn {
    font-family:  "Times New Roman";
    padding: 10px 20px;
    border: none;
    background-color: #1393E6;
    color: #fff;
    border-radius: 12px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
	padding-bottom: 9px;
}

#send-btn:hover {
    background-color: #1393E6;
}

.user-message {
    background-color: #f3f3f3;
    color: #333;
    padding: 14px;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 10px; /* Push user message to the left */
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse; /* Move user message to the right */
}

.user-message::before {
    content: "\1F468"; /* Man emoji */
    position: absolute;
    bottom: -17px;
    right: -20px;
    margin-bottom: 7px;
    font-size: 20px;
    background-color: #1087FF;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.bot-message {
    background-color: #1087FF;
    color: #fff;
    padding: 14px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 15px;
    align-self: flex-start; /* Move bot message to the left */
    margin-right: 10px; /* Push bot message to the right */
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column; /* Adjust for button placement */
}

.bot-message::before {
    content: "\1F916"; /* Robot emoji */
    position: absolute;
    bottom: -17px;
    left: -14px;
    margin-bottom: 4px;
    font-size: 20px;
    background-color: #1393E6;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.button-container button {
    padding: 10px 50px;
    border: none;
    background-color: #1393E6;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #0074CC;
}
#bot{
	width: 300px;
	height: 30px;
	color: white;
	border-radius: 15px;
	content: "\1F916"; /* Robot emoji */
	font-size: 16px;
    background-color: #1393E6;
	text-align: center;
	padding-top: 12px;
	 align-self: flex-start; /* Move bot message to the left */
    margin-right: 10px; /* Push bot message to the right */
	 flex-direction: column; /* Adjust for button placement */
	 justify-content: center;
    align-items: center;
}

