@charset "utf-8";
/* CSS Document */
*{margin: auto;}
.tong{
	width: 960px;
	height: 3000px;
}
.banner{
	width: 960px;
	height: 250px;
}
.logo{
	width: 140px;
	height: 50px;
	float: left;
	padding-left: 20px;
}
.menutren{
	background-color: #3399FF;
	width: 960px;
	height: 50px;
}
.menutren ul{
	padding-top: 20px;
	float: left;
}
.menutren ul li{
	display: inline;
	padding-right: 40px;
}
.menutren ul li a{
	text-decoration: none;
	color: white;
	font-family: arial;
	font-weight: bold;
}
.dangnhap{
	float: right;
	padding-top: 20px;
	padding-right: 20px;
}
.dangnhap a{
	text-decoration: none;
	color: white;
	font-family: arial;
	font-weight: bold;
}